<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404.css">
    <title>404 | peyam</title>
</head>
<body>
    <p class="oops">Oops!</p>
    <p class="four0four">404 - PAGE NOT FOUND</p>
    <p class="message">the page you re looking for doesn't exist</p>
    <div class="link">
        <a href="/">GO TO HOMEPAGE</a>
    </div>
</body>
</html>