<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forgotpassword.css">
    <title>Forgot password| Peyam</title>
</head>
<body>

    <form action="" class="contact-form">
       <div class="reset">
           <p class="forgot-password-message">Forgot password</p><br>
           <div class="forgot-password-information">Enter the email address you use to sign in  and we'll send you a link to reset your password</div>
           <input type="email" placeholder="Enter your email address" id="email"><br>
           <input type="submit" value="Send link" id="btn" onclick="forgotpassword()">
       </div><br><br>
    </form>


    <script src="/js/forgotpassword.js"></script>
</body>
</html>