<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/error.css">
    <title>Log in | Peyam</title>
</head>

<body>
    <div class="container">
        <h1 class="login-message">Login Form</h1>
        <form action="/home" method="post" id="form">
            <input type="email" name="email" id="email" placeholder="Email adress">
            <p id="errforemail" class="x">error message</p><br>
            <input type="password" name="password" id="password" placeholder="Password"><br>
            <i class="fas fa-eye" id="icon"  onclick="showPassword()"></i>
            <p id="errforPass" class="x">error message</p>
            <a href="/forgotpassword" class="forgotPassword">Forgot password?</a>
            <input type="submit" value="Login" id="btn" onclick="myfun()"><br><br>
        </form>

        <div>
            <span class="mess-signup">Not a member? <a href="/signup" class="mess-signup-now">Signup now</a></span>
        </div>
    </div>

    {{#if message}}
    <p id="error">{{message}}</p>
    {{/if}}
    <script src="/js/login.js"></script>
</body>

</html>