<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/resetpassword.css">
    <link rel="stylesheet" href="/css/error.css">
    <title>reset password | Peyam</title>
</head>

<body>
    <div class="reset">
        <p class="forgot-password-message">Choose a new password</p><br>
        <div class="forgot-password-information">You are about to create a new password. Please enter the new
            information here and click the link button</div>

        <form action="/resetpassword" method="post">
            <input type="email" placeholder="Enter your email address" id="email" name="email" ><br>
            <input type="text" placeholder="password" id="email" name="password"><br>
            <input type="text" placeholder="Repeat your password" id="email" name="passwordConfirm"><br>
            <button type="submit"  id="btn">Reset password</button>
        </form>

        {{#if message}}
           <p class="error"> {{message}} </p>
        {{/if }}
    </div>
</body>

</html>