@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

.reset 
{
    background-color: white;
    height: 350px;
    width: 500px;
    margin: auto;
    margin-top: 140px;
    text-align: center;
    border-radius:5px;
}


.forgot-password-message
{
    padding-top: 25px;
    font-size:30px;
    color: rgb(50, 135, 223);
}
.forgot-password-information
{
    width: 400px;
    height:40px;
    /* background-color:red; */
    margin-left: 50px;
    margin-bottom: 15px;
    color: grey;
}


#email
{
    width: 300px;
    height: 40px;
    border-radius:5px;
    border: 1.5px solid #ccc;
    padding-left: 10px;
    margin-bottom: 5px;
}

#btn
{
    height:40px;
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    width: 200px;
    border: none;
    border-radius:5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}